.trash-container {
    padding: 1rem;
}

.trash-container h2 {
    text-align: center;
    font-size: 1.6rem;
}

.trash-note-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
}