.pinned-note-container{
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
}
.other-note-container{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
}
.note-container{
   margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.home_header{
    position: relative;
    align-items: flex-start;
}
.home_header .filter-btn{
    cursor: pointer;
    background-color: inherit;
    border: 1.8px solid var(--primary);
    position: absolute;
    right: 1rem;
    top: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--primary);
    border-radius: 5px;
    font-weight: 600;
}
.filter-btn:hover {
    background-color: var(--primary);
    color: var(--white);
}
.note-info{
    width: 100%;
    margin: 0 auto
}
.note-info p {
    font-size: 1.5rem;
    text-align: center;
}